* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  width: 80%;
  max-width: 1700px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAVBAR */

.logo {
  margin-top: 30px;
}

.navtop ul {
  display: flex;
  margin-top: 0;
}

.navtop,
.activity--name,
.hebergement--name {
  margin-left: 60px;
  border-top: 3px solid transparent;
  padding-top: 42px;
}

.hebergement--name.active {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.activity--name:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: #000;
}

/* FORM */

.main--wrapper {
  display: flex;
  flex-direction: column;
}

form {
  padding-top: 20px;
}

.main--input {
  border: 1px solid #f2f2f2;
  font-weight: 700;
  padding: 15px;
  color: black;
}

.main--input::placeholder {
  color: #000;
  font-weight: 800;
}

.main-button {
  background-color: #0065fc;
  color: #fff;
  border-radius: 0 14px 14px 0;
  border: 15px solid #0065fc;
  font-weight: 700;
  margin-left: -4px;
}

.main--dot {
  background-color: #f2f2f2;
  border-radius: 14px 0 0 14px;
  border: 15px solid #f2f2f2;
  padding: 2px 0 3px 0;
  margin-right: -5px;
}

.search-glass {
  display: none;
}

/* FILTRES */

.filtres--wrapper {
  display: flex;
  margin-top: 15px;
}

.filtres--wrapper ul {
  display: flex;
  padding-left: 0;
}

.filtres--wrapper li {
  padding-right: 30px;
}

.filtres-button {
  background: #fff;
  padding: 1px 20px 0 40px;
  border-radius: 35px;
  border: 2px solid #f2f2f2;
}

.filtres-button:hover {
  background-color: #0065fc;
  color: #fff;
}

.filtres--title {
  margin-top: 22px;
  padding-right: 35px;
}

.filtres--title:hover {
  color: black;
}

.filtres--wrapper i {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 35px;
}

.i {
  margin: -23px 0 33px 42px;
}

.circle-info {
  border: 2px solid #deebff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #0065fc;
}

.style {
  margin-right: 10px;
  margin-left: -51px;
  padding: 12px;
}

/* HEBERGEMENTS*/

.hebergements--content {
  display: flex;
  justify-content: space-between;
}

.hebergements--title {
  margin: 40px 0 0 52px;
}

.hebergements--wrapper {
  background-color: #f2f2f2;
  width: 68%;
  border-radius: 30px;
}

.hebergement--wrapper-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hebergements--cards {
  width: 18.56em;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border-radius: 30px;
  padding: 5px 5px 0 5px;
  margin-top: 40px;
  height: 14em;
}

.hebergement--img {
  width: 100%;
  height: 120px;
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
  object-position: center;
}

.hebergements-cards--title {
  margin: 5px 0 5px 5px;
}
.herbegement-cards--price {
  margin: 0 0 0 6px;
}

.hebergements--more {
  margin: 70px 0 0 52px;
}

.hebergements--more:hover {
  color: #0065fc;
}

.herbegement-cards--stars {
  margin: 10px 0 0 5px;
}

.star--blue {
  color: #0065fc;
}

.star--grey {
  color: #f2f2f2;
}

.hebergements--cards:hover,
.populaires--cards:hover,
.activity--cards:hover {
  transform: scale(1.1);
  color: #0065fc;
}

/* POPULAIRES */

.populaires--wrapper {
  background-color: #f2f2f2;
  width: 30%;
  border-radius: 30px;
  display: flex;
  padding-bottom: 46px;
  flex-direction: column;
}

.populaires--title {
  margin: 38px 0 0 30px;
}

.populaires--name {
  margin-top: 0;
}

.populaires--cards {
  width: 346px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border-radius: 30px;
  padding: 5px 5px 0 5px;
  margin-top: 50px;
  height: 160px;
  display: flex;
  margin-left: 55px;
}

.populaires--img {
  height: 150px;
  width: 127px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.populaires--specs {
  margin: 0 0 0 15px;
}

.popolaires--stars {
  margin: 50px 0 0 5px;
}

.populaires--icone {
  display: flex;
  justify-content: flex-end;
  margin: -20px 62px 0 0;
}

/*ACTIVITY */

.activity--title {
  margin: -19px 0 -10px 0;
}

.activity--wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  height: 40em;
  margin-top: 80px;
}

.activity--cards {
  border: 3px solid transparent;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  margin-top: 50px;
  border-radius: 30px;
}

.vieux-port--img img {
  width: 350px;
  height: 476px;
  border-radius: 30px 30px 0 0;
  object-fit: cover;
  margin: -4px -3px 0 -3px;
  object-fit: cover;
  filter: brightness(130%);
}

.fort-pomegues--img img {
  width: 350px;
  height: 252px;
  border-radius: 30px 30px 0 0;
  margin: -4px -3px 0 -3px;
  object-fit: cover;
}

.iles-frioul--img img {
  width: 350px;
  height: 105px;
  border-radius: 30px 30px 0 0;
  margin: -3px -3px 0 -3px;
  object-fit: cover;
}

.notre-dame-garde--img img {
  width: 350px;
  height: 156px;
  border-radius: 30px 30px 0 0;
  margin: -3px -3px 0 -3px;
  object-fit: cover;
}

.parc-longchamps--img img {
  width: 350px;
  height: 203px;
  border-radius: 30px 30px 0 0;
  margin: -4px -3px 0 -3px;
  object-fit: cover;
}

/*FOOTER */

.footer--wrapper {
  display: flex;
  background: #f2f2f2;
  margin: 0 -20px 0 -40px;
}

.footer--menu {
  display: flex;
}

.footer--link {
  margin-left: 40px;
}

.footer--link ul {
  margin-right: 200px;
  padding-left: 0;
}

.footer--wrapper li {
  padding-top: 8px;
}

.footer--wrapper a:hover {
  color: #0065fc;
}

/* MEDIA QUERIES */

/*Tablettes*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    width: 90%;
  }

  /* FORM */

  form,
  span {
    text-align: center;
  }

  /* FILTRES */

  .filtres--title {
    margin-top: 57px;
    padding-right: 15px;
    margin-left: 55px;
  }

  .filtres--wrapper ul {
    flex-wrap: wrap;
    margin: 0 0 0 21px;
  }

  .filtres--wrapper li {
    padding: 20px 76px 0 0;
  }

  .i {
    margin: -30px 0 33px 174px;
  }

  .circle-info {
    margin: 40px 0 5px 132px;
  }

  /* POPULAIRES */

  .hebergements--content {
    flex-direction: column;
  }

  .populaires--wrapper {
    width: 100%;
  }

  .populaires--title {
    text-align: center;
  }

  .populaires--cards {
    width: 501px;
    margin-left: 110px;
  }

  .popolaires--icone {
    margin: -20px 110px 0 0;
  }

  /* HEBERGEMENT */

  .hebergements--wrapper {
    background-color: transparent;
    border-radius: 0%;
    width: 100%;
  }

  .hebergements--title {
    margin: 10px 0 0 205px;
    padding-bottom: 12px;
  }

  .hebergements--more {
    margin: 50px 0 30px 52px;
  }

  /* ACTIVITY */
  .activity--wrapper {
    flex-wrap: nowrap;
    align-items: center;
  }

  .activity--cards {
    margin-left: 15px;
  }

  .activity--cards img {
    width: 520px;
    height: 355px;
  }

  /* FOOTER */

  .footer--wrapper {
    margin: 2250px -41px 0 -40px;
    padding-bottom: 20px;
  }

  .footer--menu {
    flex-direction: row;
  }

  .footer--link ul {
    margin-right: 0;
  }

  .footer--link {
    margin-left: 60px;
  }
}

/*Smartphones*/
@media screen and (max-width: 767px) {
  body {
    margin: 0 auto;
    width: 100%;
  }

  /* HEADER */

  header {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .main-button {
    font-weight: bold;
  }

  /* NAVBAR */

  .navtop,
  .activity--name,
  .hebergement--name {
    margin: -23px 0 0 60px;
    padding-bottom: 5px;
  }

  .hebergement--name.active {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
    padding-bottom: 5px;
  }

  .activity--name:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }

  .navtop ul {
    margin: 0 0 0 -160px;
    font-size: larger;
    padding-bottom: 30px;
  }

  /* FILTRES */

  .filtres--wrapper {
    flex-direction: row;
    margin-left: 30px;
  }

  .filtres--wrapper li {
    padding: 9px 20px 0 0;
  }

  .filtres--wrapper ul {
    padding-left: 0;
    flex-wrap: wrap;
    margin: 60px 0 0 -110px;
  }

  .filtres--title {
    margin-top: 27px;
  }

  .filtres-button {
    font-weight: bold;
  }

  .i {
    margin-left: 52px;
  }

  .circle-info {
    margin: 20px 0 0 15px;
  }

  /* FORM */

  h1 {
    margin-bottom: -3px;
    font-size: x-large;
  }

  .main--wrapper {
    margin-left: 23px;
  }

  .search-glass {
    display: inline;
  }

  .main-button span {
    display: none;
  }

  /* POPULAIRES */

  .populaires--wrapper {
    width: 100%;
    border-radius: 0;
    margin: auto;
  }

  .populaires--cards {
    margin: 25px 0 0 26px;
    width: 339px;
  }

  .populaires--name {
    font-weight: 900;
  }

  /* HEBERGEMENTS*/

  .hebergements--content {
    flex-direction: column-reverse;
  }

  .hebergements--wrapper {
    background-color: transparent;
    border-radius: 0%;
    width: 100%;
  }

  .hebergements--title {
    margin: 30px 40px -7px 20px;
    padding-top: 30px;
    font-weight: 900;
  }

  .hebergements--cards {
    width: 21.3em;
    box-shadow: 0px 5px 4px #999;
    height: 13.8em;
    margin-top: 18px;
  }

  .hebergements-cards--title {
    font-weight: 900;
  }

  .hebergements--more {
    margin: 50px 0 0 24px;
    font-weight: 900;
  }

  .hebergements--cards:hover,
  .populaires--cards:hover,
  .activity--cards:hover {
    transform: scale(0.9);
  }

  /* ACTIVITY */
  .activity--wrapper {
    flex-wrap: nowrap;
  }

  .activity--title {
    margin-left: 22px;
  }

  .activity--cards {
    margin-left: 30px;
  }

  .activity--cards img {
    width: 332px;
    height: 115px;
  }

  .activity--cards h3 {
    margin: 14px 0 11px 17px;
  }

  /* FOOTER */

  .footer--wrapper {
    margin: 720px 0 0 -17px;
  }

  .footer--menu {
    flex-direction: column;
  }

  .footer--link ul {
    margin-right: 0;
  }
}
