* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  width: 80%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-top ul {
  display: flex;
  margin-top: 0;
}

.nav-top li {
  margin-left: 60px;
  border-top: 3px solid transparent;
  padding-top: 42px;
}

.nav-top li:hover {
  border-top: 2px solid #0065FC;
}

nav li :hover{
  color: #0065FC;
  }

#lodging:active {
  border-top: 2px solid #0065FC;
  }

.logo {
  margin-top: 30px;
}

li, a {
  text-decoration: none;
  list-style: none;
  color: #000;
}


/* INTRO */

.intro {
  display: flex;
  flex-direction: column;
}

.intro h1 + p {
  margin-top: -14px;
}

/* FORM */

input {
  border: 1px solid #F2F2F2;
  font-weight: 700;
  padding: 19px;
  color: black;
}

button {
  background-color: #0065FC;
  color: #fff;
  border-radius: 0 14px 14px 0;
  border: 19px solid #0065FC;
  font-weight: 700;
  margin-left: -4px;
}

#dot{
  background-color: #F2F2F2;
  border-radius: 14px 0 0 14px;
  border: 19px solid #F2F2F2;
  padding-bottom: 3px;
}


/* FILTRES - THEMES */

.themes{
  display: flex;
 }
 
 .themes ul{
   display: flex;
   padding-left: 0;
 }
 
 .themes li{
   padding-right: 30px;
 }
 
.filtres {
  padding: 1px 20px 0 40px;
  border-radius: 35px;
  border: 2px solid #F2F2F2; 
}

.filtres:hover {
  background-color: #0065FC;
  color: #fff;
}

.first{
  margin-top: 50px;
  padding-right: 35px;
}

.first:hover {
  color: black;
}

.themes i{
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 35px;
}

.i {
  margin: -19px 0 33px 20px;
}

#info {
 color: #0065FC;
}

.style {
  margin-right: 10px; 
  margin-left: -51px; 
  padding: 12px;
}

/* HEBERGEMENTS*/
 
#lodging {
 margin: 38px 650px -20px 0;
}

/*Permet le positionnement des cards*/
.logement {
  background-color: #F2F2F2; 
  width: 68%;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards {
  width: 18.560em;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border-radius: 30px;
  padding: 5px 5px 0 5px;
  margin-top: 40px;
  height: 15em;
}


.cards-img {
  height: 135px;
  position: relative;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  width: 286px;
}

.cards-img img {
  width: 108%;
    /*5 - Méthode de centrage en fonction de la taille de l'image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards-title {
  margin: 5px 0 5px 5px;
}
.cards-price {
  margin: 0 0 0 6px
}

.plus {
  margin-right: 820px;
}

.plus:hover {
  color: #0065FC;
}

.cards-right {
  width: 408px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border-radius: 30px;
  padding: 5px 5px 0 5px;
  margin-top: 50px;
  height: 200px;
  display: flex;
  margin-left: 23px;
}

.cards-img-right {
  height: 190px;
  position: relative;
  overflow: hidden;
  border-radius: 30px 0 0 30px;
  width: 228px;
}

.cards-img-right img {
  width: 161%;
  position: absolute;
  left: -30%;
  object-fit: contain;
}

.content {
  display: flex;
  justify-content: space-between;
}

/* POPULAIRE */

.pop {
  background-color: #F2F2F2;
  width: 30%;
  border-radius: 30px;
  display: flex;
  padding-bottom: 46px;
  flex-direction: column;
}

#title_pop {
  margin: 38px 0 0 30px ;
}

/*ACTIVITY */

.title-act {
  margin: -19px 0 -10px 0;
}

.activity {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    height: 40em; 
    margin-top: 80px;
}

.activity article {
  border: 3px solid transparent;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  margin-right: 10px;
  margin-top :50px;
  border-radius: 30px;
}


.vp img {
    width: 350px;
    height: 476px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
    margin-left: -3px;
    margin-top: -4px;
    margin-right: -3px;
    object-fit: cover;
    filter: brightness(130%);

}


.fp img {
  width: 350px;
  height: 170px;
  border-radius: 30px 30px 0 0;
  margin-left: -3px;
  margin-top: -4px;
  margin-right: -3px;
  object-fit: cover;
}


.if img {
  width: 350px;
  height: 105px;
  border-radius: 30px 30px 0 0;
  margin-left: -3px;
  margin-top: -3px;
  margin-right: -3px;
  object-fit: cover;
}


.ndg img {
  width: 350px;
  height: 156px;
  border-radius: 30px 30px 0 0;
  margin-left: -3px;
  margin-top: -3px;
  margin-right: -3px;
  object-fit: cover;
}

/* MEDIA QUERIES */

 /*Tablettes*/
@media screen and (max-width: 992px) {
  
  body {
     width: auto;
   }
}

 /*Smartphones*/
@media screen and (max-width: 768px) {

    body {
      margin: auto;
    }

    /* HEADER */

    .nav-top {
      display: flex;
      flex-direction: column;
    }

    .nav-top li::before {
      content: none;
    }

    .nav-top li::after{
      margin-top: 20px;
      display: block;
      content: "";
    }
    
    .nav-top li:hover::after{
      border-top: 2px solid #0065FC;
    }

    /* FORM */

    button {
      text-decoration: none;
    }


}